{
	"tabWidth": 2,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"semi": false,
	"useTabs": true,
	"bracketSpacing": true,
	"singleQuote": true,
    "overrides": [
      {
        "files": ["**/*.css", "**/*.scss", "**/*.html"],
        "options": {
          "singleQuote": false
        }
        }
    ]
}
